.howWorksSlider {
  .slick-list {
    margin: 0 -7px;
    @media (max-width:600px){
      margin: 0 -3px;
    }
  }
  .slick-slide > div {
    padding: 0 7px;
    @media (max-width:600px){
      padding: 0 3px;
    }
  }
  .slick-dots {
    bottom: -36px;
    li{
      margin: 0;
      button:before {
        font-size: 10px;
      }
    } 
  }
}
